<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/trojan_right.svg" type="image/svg+xml">
    <link rel="stylesheet" href="styles.css">
    <title>math</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#"><img src="/assets/112D4E - dark/trojan_right.svg" alt=""></a></li>
                <li><a href="#">home</a></li>
                <li><a href="#">directory</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">signup/login</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <article>

        </article>

        <section class="course">
            <label for="">Math</label>
            <h1>Calculus and Vectors - MCR4U7</h1>
    
            <div>Overall rating</div>
    
            <article>Brief description of course pulled from directory or AI-summarized.</article>
        </section>

        <section class="taught-by">
            
        </section>

        <section class="similar-courses">

        </section>

    </main>

    <footer>
        <div class="footer-column">
            <ul>
                <li><span class="name-logo"><img src="/assets/DBE2EF - secondary/trojan_right.svg" alt=""><h3>trojan</h3></span></li>
                <li>An Abishan Production</li>
                <li>&copy; ABISHAN 2026</li>
            </ul>
        </div>

        <div class="footer-column">
            <ul>
                <li><h3>feature drops</h3></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul>
                <li><h3>about</h3></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul>
                <li><h3>contact</h3></li>
                <li>report</li>
            </ul>
        </div>
    </footer>

</body>
</html>
