{% block stylesheet %}index.css{% endblock %}

{% block body %}
    <section class="hero-page">
        <div class="hero-title-container">
            <h1>cuz shit*y teachers exist.</h1>
            <img class="hero-logo" src="/assets/112D4E - dark/trojan_right.svg" alt="Trojan Logo">
        </div>
        <div class="hero-buttons">
            <button class="dark">Primary</button>
            <button class="light">Secondary</button>
        </div>
    </section>

    <section class="teacher-display">
        <div>
            <h1>we got all the teachers</h1>
        </div>

        <section class="teachers-rows"></section>
    </section>

    <section class="course-display">

        <div>
            <h1>and all the courses.</h1>
        </div>
        <section class="course-grid">

        </section>

    </section>

    <section class="love-testimony">
        <section class="love">
            <h1>loved. 🫶🏽</h1>
        </section>
        <section class="testimonies">
            <div class="testimony">
                <p>saved me!</p>
                <h3>anonymous student</h3>
            </div>

            <div class="testimony">
                <p>blessed tests.</p>
                <h3>anonymous student</h3>
            </div>

            <div class="testimony">
                <p>love love luv</p>
                <h3>anonymous student</h3>
            </div>
        </section>
    </section>

{% endblock %}
