/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* variables */
:root {
    --primary: #3F72AF;
    --secondary: #DBE2EF;
    --light: #F9F7F7;
    --dark: #112D4E;

    --h1-size: 4rem;
    --h2-size: 2rem;
    --h3-size: 1rem;

}

/* basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, select, textarea, button {
  font-family: inherit;
}

/* components */
button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--dark);

    font-size: 1rem;
    font-weight: 600;
}

button.dark {
    background-color: var(--dark);
    color: var(--light);
}

button.light {
    background-color: var(--light);
    color: var(--dark);
}

/* main */
body {
    font-family: 'Inter', sans-serif;

    background-color: var(--light);
    color: var(--dark);

    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* header */
    header {
        grid-area: header;
        /* background-color: var(--dark); */

        nav {

            padding: 1rem 0rem;

            ul {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                justify-content: space-around;
                align-content: center;

                list-style: none;

                img {
                    min-height: 2rem;
                }

                a {
                    color: var(--dark);
                    text-decoration: none;

                    font-weight: 600;
                }
            }
        }
    }

    /* default main sizing + centering */
    main {
        max-width: 75dvw;
        margin: 0rem auto;
        margin-bottom: 10rem;
    }

    /* default link coloring */
    a {
        color: var(--primary);
    }

/* {% TEMPLATED %} */

    body {

        background-image: url('/brainstorming/assets/backgrounds/mesh-gradient_2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    main {
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* font sizing */
        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 2rem;
        }

    }

    .feature-overview {
        /* glass */
        /* padding: 0rem 3rem;

        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);

        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 45px;

        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); */

        min-height: 80dvh;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        justify-content: center;

    }

    .feature-list {
        margin: 0rem 2rem;

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        li {
            font-size: 1.5rem;
        }
    }

    .request-a-feature {
        align-self: center;

        padding: 0.2rem 1rem;

        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(10px);

        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 25px;

        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: row;
        gap: 0.3rem;

        justify-content: center;
        align-items: center;

        margin-top: 1.5rem;
    }


    /* feature timeline */
        .feature-timeline {
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }

        .feature-list-container {
            margin: 0rem 3rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            /* glass */
            /* gap: 1rem; */
        }

        .feature {
            /* glass */
            /* padding: 2rem 3rem;

            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);

            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 25px;

            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); */

            display: flex;
            flex-direction: row;
            gap: 2rem;

            align-items: center;

            .feature-body {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }
        }

/* {% TEMPLATED %} */

/* footer */
    footer {
        grid-area: footer;
        padding: 5rem 2rem;

        background-color: var(--dark);
        color: var(--light);

        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-content: center;

        gap: 1rem;
    }

    .footer-column {
        ul {
            list-style: none;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                font-weight: 500;
            }
        }
    }

    .name-logo {
        display: flex;
        gap: 0.5rem;
    }