{% block stylesheet %}course.css{% endblock %}

<!-- insert dynamic course title -->
{% block title %}course{% endblock %}

{% block body %}
    <article>

    </article>

    <section class="course">
        <label for="">Math</label>
        <h1>Calculus and Vectors - MCR4U7</h1>

        <div>Overall rating</div>

        <article>Brief description of course pulled from directory or AI-summarized.</article>
    </section>

    <section class="taught-by">
        
    </section>

    <section class="similar-courses">

    </section>

{% endblock %}
